* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande';
    box-sizing: border-box;
}
body {
    background: white;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: lightgray;
    color: white;
    padding: 10px 10px;
    font-size: 14px
}
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex-basis: 33%;
    padding: 10px;
}
.col p {
    color: grey;
    margin-bottom: 10px;
}
ul li {
    list-style: none;
    margin-bottom: 10px;
}
ul li a {
    text-decoration: none;
    color: grey
}
.footer-bottom {
    background: grey;
    color: white;
    text-align: center;
    width: 100%;
}
